@model NewItem

<form method="post" enctype="multipart/form-data" asp-action="ItemEdit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Item</h2>
			<hr />
		</div>
        @* <div asp-validation-summary="All"></div> *@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
        <div class="mb-3">
			<label asp-for="Cost"></label>
			<input asp-for="Cost" class="form-control" />
			<span asp-validation-for="Cost" class="text-danger"></span>
		</div>
        <div class="mb-3">
			<label asp-for="CategoryId"></label>
			<input asp-for="CategoryId" class="form-control" />
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
        <div class="mb-3">
			<label asp-for="ImageUrl"></label>
			<input type="file" accept="image/*" asp-for="ImageUrl" class="form-control" />
			@* <span asp-validation-for="ImageUrl" class="text-danger"></span> *@
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Dashboard" asp-action="Items" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}